
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* The "background" behind the scrolling part of the scrollbar. */
scrollbar {
    background-color: #222;
}

/* corner between horizontal and vertical scrollbars */
scrollcorner {
    background-color: black;
}

/* The scroll up/down buttons. */
scrollbarbutton {
    background-color: #666;
}

/* The actual scrolling part of the scrollbar. */
thumb {
    background-color: #666;
}

thumb, scrollbarbutton {
    -moz-border-bottom-colors: #000 #333;
    -moz-border-left-colors: #aaa #888;
    -moz-border-right-colors: #000 #333;
    -moz-border-top-colors: #aaa #888;
}

scrollbarbutton:hover:active, scrollbarbutton[active="true"] {
    -moz-border-bottom-colors: #aaa #888;
    -moz-border-left-colors: #000 #333;
    -moz-border-right-colors: #aaa #888;
    -moz-border-top-colors: #000 #333;
}
