
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* The "background" behind the scrolling part of the scrollbar. */
scrollbar {
    background-color: #333;
}

/* I commented this out as I think users would only find it distracting. */
/* scrollbar:active { */
/*     background-color: #111; */
/* } */

/* TODO: What is this for? */
scrollcorner {
    background-color: black;
}

/* The scroll up/down buttons. */
scrollbarbutton {
    background-color: #666;
}

/* The actual scrolling part of the scrollbar. */
thumb {
    background-color: #666;
}

thumb, scrollbarbutton {
    -moz-border-top-colors: #bbb #999;
    -moz-border-left-colors: #bbb #999;
    -moz-border-right-colors: #000 #333;
    -moz-border-bottom-colors: #000 #333;
}

scrollbarbutton:hover:active, scrollbarbutton[active="true"] {
    -moz-border-bottom-colors: #bbb #999;
    -moz-border-right-colors: #bbb #999;
    -moz-border-left-colors: #000 #333;
    -moz-border-top-colors: #000 #333;
}
