
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#minibuffer {
    background-color: #000;
    border: 1px solid #444;
    border-top: 0;
    color: white;
    font: 11px Tahoma;
}

/* Completions display */

tree.completions treechildren { border: none !important; }

tree.completions treecol { -moz-binding: none !important; }
tree.completions {
  -moz-appearance: none !important;
  border: 0px none !important;
  border-top: 4px double #333333 !important;
  background-color: black !important;
  -moz-border-top-colors: -moz-initial !important;
  color: white !important;
}

tree.completions treechildren::-moz-tree-row {
  background-color: black !important;
  border: none;
}

tree.completions treechildren::-moz-tree-row(current) {
  background-color: blue !important;
  color: white;
}

tree.completions treechildren::-moz-tree-cell-text(completion-description) {
  color: green !important;
  font-weight: bold !important;
}

tree.completions treechildren::-moz-tree-cell-text(current) {
  color: white !important;
}

