#tab2-bar {
    background: #222;
}

.tab2 {
    margin: 2px 0px 0px 2px;
    padding: 0px;
    height: 22px;
    border-width: 2px;
    border-bottom-width: 0;
    border-style: solid;
    -moz-border-radius: 3px 3px 0 0;
    -moz-border-left-colors: #888 #555;
    -moz-border-right-colors: #000 #171717;
    -moz-border-top-colors: #888 #555;
    background: #333;
    min-width: 200px;
    max-width: 200px;
    overflow: hidden; /* Chops end of label */
}

.tab2[selected=true] {
    -moz-border-left-colors: #aaa #888;
    -moz-border-right-colors: #000 #333;
    -moz-border-top-colors: #aaa #888;
    background: #666;
}

.tab2:hover {
    -moz-border-left-colors: #eee #bbb;
    -moz-border-right-colors: #333 #666;
    -moz-border-top-colors: #eee #bbb;
    background: #999;
}

.tab2-label {
    margin-left: 4px;
    padding-top: 1px;
    color: #fff;
    font: 11px Tahoma;
}

.tab2-icon {
    margin: 1px !important;
    padding: 1px;
    width: 20px;
    height: 15px;
    max-height: 15px;
    -moz-border-radius: 1px;
    background: black;
    color: white;
    font: 900 11px Tahoma;
    text-align: center;
}
