/conkeror.xulapp
#*#
.#*
TAGS
xulrunner-stub
conkeror-spawn-helper
conkeror
plugins
/components/xpti.dat
/components/compreg.dat
/.pc
/build-*-stamp
/configure-stamp
/debian/conkeror*.substvars
/debian/conkeror*.debhelper.log
/debian/conkeror*.debhelper
/debian/conkeror-spawn-process-helper/
/debian/conkeror/
/debian/files
/debian/stamp-patched
/xulrunner
