@import url("chrome://communicator/skin/");

.mode-line {
  border-left: 1px solid rgb(230,230,230);
  border-top: 1px solid rgb(230,230,230);
  border-right: 1px solid rgb(100,100,100);
  border-bottom: 1px solid rgb(100,100,100);
  margin: 0 0 0 0;
  background-color: rgb(200,200,200);
}

.mode-line label {
  color: black;
}

window {
  background-color: white;
}


/* Completions display */
tree.completions treechildren { border: none !important; }

tree.completions treecol { -moz-binding: none !important; }
tree.completions { border: none !important; margin: 0px !important; }

tree.completions treechildren::-moz-tree-row { 
  border: none;
}

tree.completions treechildren::-moz-tree-row(current) { 
  background-color: blue;
}

tree.completions treechildren::-moz-tree-cell-text(current) { color: white !important; }
