/**
 * (C) Copyright 2004-2006 Shawn Betts
 * (C) Copyright 2007-2008 Jeremy Maitin-Shepard
 *
 * Use, modification, and distribution are subject to the terms specified in the
 * COPYING file.
**/

@import url("chrome://global/skin/");

.minibuffer-text-input-mode[minibuffermode="message"],
.minibuffer-textarea-input-mode[minibuffermode="message"],
.minibuffer-select-input-mode[minibuffermode="message"],
.minibuffer-checkbox-input-mode[minibuffermode="message"],
.minibuffer-richedit-input-mode[minibuffermode="message"],
.minibuffer-quote-next-input-mode[minibuffermode="message"],
.minibuffer-quote-input-mode[minibuffermode="message"]{
  background-color: #999999;
  color: black;
}

#minibuffer[minibuffermode="message"] #minibuffer-prompt,
#minibuffer[minibuffermode="message"] #minibuffer-input,
#minibuffer[minibuffermode="input"] #minibuffer-message,
#minibuffer[minibuffermode="input"] #minibuffer-mode-indicator {
  visibility: collapse;
}

.mode-line {
  border-left: 1px solid rgb(230,230,230);
  border-top: 1px solid rgb(230,230,230);
  border-right: 1px solid rgb(100,100,100);
  border-bottom: 1px solid rgb(100,100,100);
  margin: 0 0 0 0;
  background-color: rgb(200,200,200);
}

.mode-line label {
  color: black;
}

.mode-line label.current-buffer-name-widget {
  -moz-box-flex: 1;
}

window {
  background-color: white;
}


/* Completions display */
tree.completions treechildren { border: none !important; }

tree.completions treecol { -moz-binding: none !important; }
tree.completions {
  -moz-appearance: none !important;
  border: 0px none !important;
  margin: 0px !important;
  border-top: 4px double #333333 !important;
  background-color: #dcdad5 !important;
  -moz-border-top-colors: -moz-initial !important;
  color: black;
}

tree.completions treechildren::-moz-tree-row { 
  border: none;
}

tree.completions treechildren::-moz-tree-row(current) { 
  background-color: blue;
}

tree.completions treechildren::-moz-tree-cell-text(completion-description) {
  color: green !important;
  font-weight: bold !important;
}

tree.completions treechildren::-moz-tree-cell-text(current) {
  color: white !important;
}

.panel {
  border-top: 4px double #333333;
  background-color: #dcdad5;
}

.panel .panel-row-label {
  font-weight: bold;
}


/* tab bar */

#tab-bar {
  -moz-box-pack: end;
}

.tab {
  -moz-appearance: tab;
  margin-top: 2px;
  border-top: 2px solid;
  border-right: 2px solid;
  border-left: 2px solid;
  border-bottom: 1px solid ThreeDHighlight;
  -moz-border-top-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 1px;
  padding: 1px 4px 2px 4px;
  background-color: -moz-Dialog;
  color: -moz-DialogText;
  min-width: 100px;
  max-width: 250px;
  -moz-box-flex: 100;
  -moz-box-align: center;
}

.tab[selected="true"] {
  margin-top: 0;
  border-bottom-color: transparent;
  padding: 1px 6px 4px 6px;
  background-color: -moz-Dialog;
}

.tab-close-button {
  -moz-appearance: none !important;
  /*padding: 0px 4px 2px 0px;*/
  padding: 0px 0px 0px 0px;
  margin: 0px;
  list-style-image: url("chrome://global/skin/icons/close.png") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  border: none !important;
}

.tab[selected="false"] .tab-close-button {
  display: none;
}

.tab-close-button:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.tab-close-button:active:hover {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

.tab-label {
  -moz-box-flex: 100;
  font: icon;
}

.tab[selected="true"] > .tab-label {
  font-weight: bold;
}

.tab-icon  {
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
  -moz-margin-start: 4px;
  -moz-margin-end: 3px;
}
