/**
 * (C) Copyright 2007-2008 Jeremy Maitin-Shepard
 *
 * Use, modification, and distribution are subject to the terms specified in the
 * COPYING file.
**/

@namespace url("http://www.w3.org/1999/xhtml");

span.__conkeror_hint {
  background-color: red !important;
  color: white !important;
  position: absolute !important;
  font-size: 10px !important;
  font-family: sans-serif !important;
  font-weight: bold !important;
  line-height: 10px !important;
  padding: 0px 1px 0px 0px !important;
  z-index: 10000001 !important;
  display: none;
}

span.__conkeror_img_hint {
  position: absolute;
  opacity: 0.5;
  z-index: 10000000;
}

/* FIXME: This should probably go in a different file. */
.__conkeror_textbox_edited_externally {
  background-color: #bbbbbb !important;
  -moz-appearance: none !important;
}
