@import url("chrome://communicator/skin/");

/* 
statusbarpanel.mode-line {

}

statusbar.mode-line {
  letter-spacing: monospace;
}

label.minibuffer {

}

input {
  color: black;
  background-color: rgb;
}

textbox.minibuffer {

  margin: 0 0 0 0;
  border: 0;
}

toolbox.minibuffer {
  color: gray90;
  border: 0;
}
*/

conkframe {
  -moz-binding: url("chrome://conkeror/content/conkeror.xml#conkframe");
}