
A, button, input, select, textarea {
  -moz-binding: url(chrome://conkeror/content/numbering.xml#binding) !important;
}

span.__conkeror_link_number {
  -moz-border-radius: 0.5em !important;
  border: 1px solid grey !important;
  background-color: white !important;
  color: black !important;
  font-weight: normal !important;
  font-size: small !important;
  font-family: sans-serif !important;
}
