[Desktop Entry]
Name=Conkeror Web Browser
Name[bg]=Интернет браузър (Conkeror)
Name[ca]=Navegador web Conkeror
Name[cs]=Conkeror Webový prohlížeč
Name[el]=Περιηγήτης Ιστού Conkeror
Name[es]=Navegador web Conkeror
Name[fa]=مرورگر اینترنتی Conkeror
Name[fi]=Conkeror-webselain
Name[fr]=Navigateur Web Conkeror
Name[hu]=Conkeror webböngésző
Name[it]=Conkeror Browser Web
Name[ja]=Conkeror ウェブ・ブラウザ
Name[ko]=Conkeror 웹 브라우저
Name[nb]=Conkeror Nettleser
Name[nl]=Conkeror webbrowser
Name[nn]=Conkeror Nettlesar
Name[no]=Conkeror Nettleser
Name[pl]=Przeglądarka WWW Conkeror
Name[pt]=Conkeror Navegador Web
Name[pt_BR]=Navegador Web Conkeror
Name[sk]=Internetový prehliadač Conkeror
Name[sv]=Webbläsaren Conkeror
Comment=Browse the World Wide Web
Comment[bg]=Сърфиране в Мрежата
Comment[ca]=Navegueu per el web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[de]=Im Internet surfen
Comment[el]=Περιηγηθείτε στον παγκόσμιο ιστό
Comment[es]=Navegue por la web
Comment[fa]=صفحات شبکه جهانی اینترنت را مرور نمایید
Comment[fi]=Selaa Internetin www-sivuja
Comment[fr]=Navigue sur Internet
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW 
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[sk]=Prehliadanie internetu
Comment[sv]=Surfa på webben
GenericName=Web Browser
GenericName[bg]=Интернет браузър
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador web
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=Webselain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[sk]=Internetový prehliadač
GenericName[sv]=Webbläsare
Exec=conkeror %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=browser
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;image/gif;image/jpeg;image/png;
StartupWMClass=Conkeror
StartupNotify=true
