<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<!--
*************************************************************************************
© Copyright
Spencer Allen
2013

Use, modification, and distribution are subject to the terms specified in the COPYING
file.
*************************************************************************************
-->

  <!--Listing the components that make up the .conkerorrc feature-->
	<Fragment>
    <!--.conkerorrc folder-->
    <Component Id="new_tabs" Directory="_CONKERORRC" Guid="*">
      <File Id="new_tabs" Source="Source\contrib\windows-installer\conkerorrc\new-tabs.js" KeyPath="yes" Checksum="yes"/>
    </Component>
    <Component Id="sessions" Directory="_CONKERORRC" Guid="*">
      <File Id="sessions" Source="Source\contrib\windows-installer\conkerorrc\sessions.js" KeyPath="yes" Checksum="yes"/>
    </Component>
    <Component Id="history" Directory="_CONKERORRC" Guid="*">
      <File Id="history" Source="Source\contrib\windows-installer\conkerorrc\history.js" KeyPath="yes" Checksum="yes"/>
    </Component>
    <Component Id="history_command" Directory="_CONKERORRC" Guid="*">
      <File Id="history_command" Source="Source\contrib\windows-installer\conkerorrc\history-command.js" KeyPath="yes" Checksum="yes"/>
    </Component>
    <Component Id="history_clearing_preference" Directory="_CONKERORRC" Guid="*">
      <File Id="history_clearing_preference" Source="Source\contrib\windows-installer\conkerorrc\history-clearing-preference.js" KeyPath="yes" Checksum="yes"/>
    </Component>
    <Component Id="downloads_dir" Directory="_CONKERORRC" Guid="*">
      <File Id="downloads_dir" Source="Source\contrib\windows-installer\conkerorrc\downloads-dir.js" KeyPath="yes" Checksum="yes"/>
    </Component>
    <Component Id="download_new_buffer" Directory="_CONKERORRC" Guid="*">
      <File Id="download_new_buffer" Source="Source\contrib\windows-installer\conkerorrc\download-new-buffer.js" KeyPath="yes" Checksum="yes"/>
    </Component>
    <Component Id="darken_page" Directory="_CONKERORRC" Guid="*">
      <File Id="darken_page" Source="Source\contrib\windows-installer\conkerorrc\darken-page.js" KeyPath="yes" Checksum="yes"/>
    </Component>
    <Component Id="download_mode_line" Directory="_CONKERORRC" Guid="*">
      <File Id="download_mode_line" Source="Source\contrib\windows-installer\conkerorrc\download-mode-line.js" KeyPath="yes" Checksum="yes"/>
    </Component>
    <Component Id="favicons" Directory="_CONKERORRC" Guid="*">
      <File Id="favicons" Source="Source\contrib\windows-installer\conkerorrc\favicons.js" KeyPath="yes" Checksum="yes"/>
    </Component>
    <Component Id="disable_clock" Directory="_CONKERORRC" Guid="*">
      <File Id="disable_clock" Source="Source\contrib\windows-installer\conkerorrc\disable-clock.js" KeyPath="yes" Checksum="yes"/>
    </Component>
    <Component Id="buffers_count" Directory="_CONKERORRC" Guid="*">
      <File Id="buffers_count" Source="Source\contrib\windows-installer\conkerorrc\buffers-count.js" KeyPath="yes" Checksum="yes"/>
    </Component>
    <Component Id="loading_count" Directory="_CONKERORRC" Guid="*">
      <File Id="loading_count" Source="Source\contrib\windows-installer\conkerorrc\loading-count.js" KeyPath="yes" Checksum="yes"/>
    </Component>
    <Component Id="remove_scroll" Directory="_CONKERORRC" Guid="*">
      <File Id="remove_scroll" Source="Source\contrib\windows-installer\conkerorrc\remove-scroll.js" KeyPath="yes" Checksum="yes"/>
    </Component>
	</Fragment>
</Wix>