
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

scrollbar {
  -moz-appearance: scrollbar;
  background-color: #c4c2bd;
}

scrollcorner {
  background-color: -moz-Dialog;
}

thumb {
  -moz-appearance: scrollbarthumb-horizontal;
}

thumb[orient="vertical"] {
  -moz-appearance: scrollbarthumb-vertical;
}


thumb, scrollbarbutton {
  -moz-border-top-colors: ThreeDLightShadow ThreeDHighlight;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDLightShadow ThreeDHighlight;
  background-color: -moz-Dialog;
}

scrollbarbutton:hover:active, scrollbarbutton[active="true"] {
  -moz-border-top-colors: ThreeDShadow -moz-Dialog;
  -moz-border-right-colors: ThreeDShadow -moz-Dialog;
  -moz-border-bottom-colors: ThreeDShadow -moz-Dialog;
  -moz-border-left-colors: ThreeDShadow -moz-Dialog;
}

scrollbarbutton[type="increment"] {
  -moz-appearance: scrollbarbutton-right;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
  -moz-appearance: scrollbarbutton-down;
}

scrollbarbutton[type="decrement"] {
  -moz-appearance: scrollbarbutton-left;
}

scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
  -moz-appearance: scrollbarbutton-up;
}
