
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#minibuffer {
  border-top: 1px solid -moz-Dialog;
}

#minibuffer.minibuffer-text-input-mode[minibuffermode="message"],
#minibuffer.minibuffer-textarea-input-mode[minibuffermode="message"],
#minibuffer.minibuffer-select-input-mode[minibuffermode="message"],
#minibuffer.minibuffer-checkbox-input-mode[minibuffermode="message"],
#minibuffer.minibuffer-richedit-input-mode[minibuffermode="message"],
#minibuffer.minibuffer-quote-next-input-mode[minibuffermode="message"],
#minibuffer.minibuffer-quote-input-mode[minibuffermode="message"]{
  background-color: Highlight;
  color: HightlightText;
}


/* Completions display */

tree.completions { margin: 0px !important; }

tree.completions treechildren { border: none !important; }

tree.completions treecol { -moz-binding: none !important; }
tree.completions {
  -moz-appearance: none !important;
  border: 0px none !important;
  border-top: 1px solid -moz-Dialog !important;
  -moz-border-top-colors: -moz-initial !important;
}

tree.completions treechildren::-moz-tree-row {
  border: none;
}

tree.completions treechildren::-moz-tree-row(current) {
  background-color: Highlight !important;
  color: HighlightText !important;
}

tree.completions treechildren::-moz-tree-cell-text(completion-description) {
  font-weight: bold !important;
}

tree.completions treechildren::-moz-tree-cell-text(current) {
  color: HighlightText !important;
}

