
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#tab2-bar {
  border-bottom: 1px solid threedshadow;
}

.tab2 {
    -moz-appearance: tab;
    min-width: 200px;
    max-width: 300px;
    overflow: hidden; /* Chops end of label */
}

.tab2-label {
    margin-left: 4px;
    padding-top: 1px;
    font: 11px Sans;
}

.tab2-icon {
    padding: 0px 2px 0px 3px;
    font: 900 11px Sans;
    text-align: center;
}
