<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<!--
*************************************************************************************
© Copyright
Spencer Allen
2013

Use, modification, and distribution are subject to the terms specified in the license.rtf
file.
*************************************************************************************
-->

  <!--Customizing the installer UI-->
	<Fragment>
    <UIRef Id="WixUI_Mondo" />
    <WixVariable Id="WixUILicenseRtf" Value="Source\contrib\windows-installer\lisense.rtf" />
    <Property Id="LicenseAccepted" Value="1" />
    <WixVariable Id="WixUIBannerBmp" Value ="Source\contrib\windows-installer\artwork\banner.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="Source\contrib\windows-installer\artwork\dialog.bmp"/>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Conkeror" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Thank you for installing Conkeror." />
    <Property Id="WixShellExecTarget" Value="[#a_conkeror.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    <UI Id="MyWixUI_Mondo">
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>
	</Fragment>
</Wix>